@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLink {
    @apply text-blue-3 my-1 px-5;
  }

  .title {
    @apply text-blue-3 text-lg md:text-xl lg:text-[22px] font-bold my-5 text-center;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #ebeff4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}
